.main__section {
    height: 780px;
    background-color: #F5F5F5;
    display: flex;
}

.section--content {
    flex-basis: 50%;
}

.-flex {
    display: flex;
}

.section__content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #262626;
}

.section__content h1 {
    color: #FA541C;
    font-size: 18px;
}

.-left {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: space-evenly;
}

.content__container.-left {
    position: relative;
    top: -90px;
}

.content__container.-left::after {
    content: " ";
    display: block;
    height: 30px;
    width: 30px;
    background-color: #FA541C;
    position: relative;
    left: 343px;
    top: -90px;
}

.section__line {
    margin: 0 20px;
}

.section__line::after {
    content: " ";
    display: block;
    width: 10px;
    height: 750px;
    background-color: #262626;
    margin: 10px 15px;
}

.-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content__container.-right {
    top: 40px;
    position: relative;
}

.content__container.-right::after {
    content: " ";
    display: block;
    height: 30px;
    width: 30px;
    background-color: #FA541C;
    position: relative;
    left: -55px;
    top: -90px;
}

.indie-pop {
    position: relative;
    height: 78px;
    left: 100px;
    top: 300px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    text-transform: uppercase;
    color: #262626;
}

.blues {
    position: relative;
    height: 68px;
    left: 330px;
    top: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    text-transform: lowercase;
    color: #262626;
    opacity: 0.7;
}

.soul {
    position: relative;
    height: 49px;
    left: 60px;
    top: 70px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-transform: lowercase;
    color: #262626;
    opacity: 0.4;
}

.goth-rock {
    position: relative;
    height: 68px;
    left: 250px;
    top: 230px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-transform: lowercase;
    color: #262626;
    opacity: 0.4;
}